html {
  background-color: antiquewhite;
}
.layout {
  font-family: "Courier New", Courier, monospace;
  margin: 0 auto;
}
.main-container {
  max-width: 1400px;
  margin: auto;
  width: 100%;
}
/* global styles names */
.heading {
  text-align: center;
  margin: 40px 0px;
  color: rgb(110, 107, 62);
}
.heading h1 {
  font-size: 40px;
  font-weight: 800;
}
.heading p {
  font-size: 16px;
  font-weight: 200;
}
/* Team */
.team-container {
  margin: 40px 0px;
  color: rgb(110, 107, 62);
  text-align: center;
  height: 100%;
}
/* About */
.videos {
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  position: relative;
  overflow: hidden;
  width: 66.66%;
  padding-top: 37.5%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}
.videos iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.heading-about {
  text-align: start;
  margin: 40px 30%;
  margin-bottom: 0px;
  color: rgb(110, 107, 62);
}
.heading-about h1,
h2 {
  font-size: 30px;
  font-weight: 800;
}
.heading-about h2 {
  margin-top: 50px;
}
.heading-about p {
  font-size: 16px;
  font-weight: 200;
}
/* Nav */
.navbar-nav {
  margin-left: 0px !important;
}
.navbarStyle {
  /* #FAEBD7 */
  background-color: antiquewhite;
  width: 100%;
}
.navCollapse {
  float: right;
}
.bodjaTitle,
.bodjaTitle:hover {
  font-weight: 700;
  color: black;
  text-decoration: none;
  font-size: 1.5rem;
}

.litems {
  color: black !important;
  font-weight: 600;
  margin: 0 50px;
  vertical-align: middle;
  box-sizing: content-box;
  transition: transform 0.4s ease;
}
.litems:hover {
  color: rgb(110, 107, 62);
  text-decoration: none;
  transform: scale(1.1, 1.1);
}
.cart-icon {
  font-size: 25px;
  color: gray;
  position: relative;
  transition: transform 0.4s ease;
  border: none;
  background-color: transparent;
}
.cart-icon:hover {
  transform: scale(1.1, 1.1);
  text-decoration: none;
}
.cart-item-qty {
  position: absolute;
  right: -8px;
  font-size: 12px;
  color: #eee;
  background-color: #f02d34;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  text-align: center;
  font-weight: 600;
}

/* Merch site */
/* details */
.image-container {
  padding: 20px 0px;
}
.product-detail-container {
  display: flex;
  gap: 50px;
  margin-top: 60px;
  justify-content: center;
  color: black;
}

.product-detail-image {
  border-style: outset;
  border-radius: 10px;
  width: 500px;
  height: auto;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  object-fit: cover;
  max-width: 100%;
}
.product-detail-image:hover {
  transform: scale(1.1, 1.1);
}
.small-images-container {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}
.small-image {
  border-style: outset;
  border-radius: 10px;
  background-color: #ffffff;
  width: 70px;
  height: 70px;
  cursor: pointer;
}

.details {
  font-weight: 100;
}
.selected-image {
  border-color: black;
}

.product-detail-desc h1 {
  color: black;
}
.product-detail-desc p {
  margin-top: 10px;
}
.product-detail-desc .price {
  font-weight: 700;
  font-size: 26px;
  margin-top: 30px;
}
.product-detail-desc h3 {
  font-size: 1em;
}
.product-detail-desc .quantity {
  display: flex;
  gap: 20px;
  margin-top: 10px;
  align-items: center;
}
.product-detail-desc .buttons {
  display: flex;
  gap: 30px;
}
.buttons {
  display: flex;
  flex-wrap: wrap;
}
.buttons .add-to-cart,
.buttons .buy-now {
  padding: 10px 20px;
  border: 1px solid black;
  margin-top: 40px;
  font-size: 18px;
  font-weight: 500;
  background-color: white;
  color: black;
  cursor: pointer;
  width: 200px;
  transform: scale(1, 1);
  transition: transform 0.5s ease;
}
.buttons .buy-now {
  border-color: white;
  background-color: rgb(243, 166, 66);
  color: black;
}
.buttons .buy-now:hover,
.buttons .add-to-cart:hover {
  transform: scale(1.1, 1.1);
}
.quantity-desc span {
  font-size: 16px;
  padding: 6px 12px;
}
.quantity-desc .minus {
  width: 2rem;
  height: 2em;
  padding: 0;
}
.quantity-desc .plus {
  padding: 0;
  width: 2rem;
  height: 2em;
}
.quantity-desc .num {
  font-size: 20px;
}

/* items */

.items-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
  margin-top: 20px;
  width: 100%;
}

.item {
  border-style: outset;
  border-radius: 10px;
  cursor: pointer;
  transform: scale(1, 1);
  transition: transform 0.5s ease;
  color: black;
  /* Analogous color theory */
  /* background-color: #d7e6fa; */
  /* background-color: #f7fad7; */
}
.item:hover {
  transform: scale(1.1, 1.1);
}

.item-img-top {
  max-width: 100%;
}

.item-body {
  text-align: center;
  text-decoration: none;
}
.item-body.a {
  text-decoration: none;
}
.item-price {
  font-weight: 800;
  margin-top: 6px;
  color: black;
}
/* Cart */
.cart-wrapper {
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
  transition: all 1s ease-in-out;
}
.cart-container {
  height: 100vh;
  width: 600px;
  background-color: white;
  float: right;
  padding: 0px 10px;
  position: relative;
}
.cart-heading {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  gap: 2px;
  margin-left: 10px;
  border: none;
  background-color: transparent;
}

.cart-heading .heading {
  margin-left: 10px;
}
.cart-num-items {
  margin-left: 10px;
  color: #f02d34;
}
.empty-cart {
  margin: 40px;
  text-align: center;
}
.empty-cart h3 {
  font-weight: 600;
  font-size: 20px;
}
.cancel {
  cursor: pointer;
}
.product-container {
  overflow: auto;
  max-height: 60vh;
  padding: 0px 10px 20px 10px;
}
.product {
  display: flex;
  gap: 30px;
  padding: 20px;
}
.product .cart-product-image {
  width: 180px;
  height: 150px;
  border-radius: 15px;
  background-color: #ebebeb;
}
.item-desc .flex {
  display: flex;
  justify-content: space-between;
  width: 350px;
  color: #324d67;
}
.item-desc .bottom {
  margin-top: 60px;
}
.flex h5 {
  font-size: 24px;
}
.flex h4 {
  font-size: 20px;
}
.total {
  display: flex;
  justify-content: space-between;
}
.total h3 {
  font-size: 22px;
}
.remove-item {
  font-size: 24px;
  color: #f02d34;
  cursor: pointer;
  background: transparent;
  border: none;
}
.cart-bottom {
  position: absolute;
  bottom: 12px;
  right: 5px;
  width: 100%;
  padding: 30px 65px;
}

.btn-container {
  width: 400px;
  margin: auto;
}
.btn-cart {
  width: 100%;
  max-width: 400px;
  padding: 10px 12px;
  border-radius: 15px;
  border: none;
  font-size: 20px;
  margin-top: 10px;
  margin-top: 40px;
  text-transform: uppercase;
  background-color: #f02d34;
  color: #fff;
  cursor: pointer;
  transform: scale(1, 1);
  transition: transform 0.5s ease;
}
.btn-cart:hover {
  transform: scale(1.1, 1.1);
}

/* Team */

.teams-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
  margin-top: 20px;
  width: 100%;
}
.team-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
  margin-top: 20px;
  width: 100%;
  display: block;
}
.team-container h1 {
  display: block;
  font-weight: 500;
}

.team {
  color: black;
  border-color: black;
  /* Analogous color theory */
  background-color: rgb(207, 207, 207);
  height: 100%;
  width: 450px;
  /* background-color: #f7fad7; */
}

.team-img-top {
  object-fit: cover;
  max-width: 100%;
}

.team-body {
  text-decoration: none;
  height: 250px;
}
.team-body.a {
  text-decoration: none;
}
.team-name {
  margin-left: 10%;
  margin-top: 5%;
  text-align: start;
}
.team-role {
  margin: 5% 10%;
  text-align: start;
  margin-top: 6px;
}

/* Footer */
.footer-container {
  background-color: antiquewhite;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  padding: 20px 0;
  margin-top: 70px;
  width: 100%;
}
.icon-links {
  color: black;
}
.icon-links:hover {
  color: gray;
}
/* 404 */
.misc-container {
  font-weight: 700;
  margin: 40px 0px;
  color: black;
  text-align: center;
  vertical-align: center;
  height: 65vh;
}

/* Responsiveness - for mobile and small screens */
@media only screen and (max-width: 1200px) {
  .product-detail-container {
    flex-wrap: wrap;
  }
  .product-detail-container .product-detail-image {
    width: 350px;
    height: 350px;
  }
}

@media only screen and (max-width: 800px) {
  .product-container {
    margin-top: 10px;
  }
  .product {
    padding: 20px 5px;
  }
  .product .cart-product-image {
    width: 25%;
    height: 25%;
  }
  .cart-container {
    width: 415px;
    padding: 4px;
  }
  .cart-heading {
    margin-top: 35px;
  }
  .item-desc .flex {
    width: 200px;
  }
  .top {
    flex-wrap: wrap;
    gap: 10px;
  }
  .item-desc .bottom {
    margin-top: 30px;
  }
  .flex h5 {
    font-size: 16px;
    color: #324d67;
  }
  .flex h4 {
    font-size: 16px;
    color: black;
  }
  .cart-bottom {
    padding: 30px;
  }

  .total h3 {
    font-size: 20px;
  }
}
@media only screen and (max-width: 600px) {
  .item:hover {
    transform: scale(1, 1);
  }
  .product-detail-image:hover {
    transform: scale(1, 1);
  }
  .heading-about {
    margin: 40px 0px;
  }
  .product-detail-container {
    justify-content: center;
  }
}
/* 320 is the smallest screen size */
@media only screen and (max-width: 480px) {
  .team {
    width: 25rem;
    object-fit: contain;
  }
  .team-body {
    height: 120%;
    margin: 0 0;
    text-align: start;
  }
  .buttons .add-to-cart,
  .buttons .buy-now {
    margin-top: 0;
  }
  .buttons {
    margin-top: 50px;
  }
  .buttons,
  .quantity {
    justify-content: center;
  }
  .product-container {
    margin-top: 10px;
  }
  .product {
    padding: 20px 5px;
  }
  .product .cart-product-image {
    width: 25%;
    height: 25%;
  }
  .cart-container {
    width: 315px;
  }
  .item-desc .flex {
    width: 150px;
  }
  .top {
    flex-wrap: wrap;
    gap: 10px;
  }
  .item-desc .bottom {
    margin-top: 30px;
  }
  .flex h5 {
    font-size: 16px;
    color: #324d67;
  }
  .flex h4 {
    font-size: 16px;
    color: black;
  }
  .cart-bottom {
    padding: 10px;
  }
  .btn-container {
    width: 15rem;
  }

  .total h3 {
    font-size: 20px;
  }
}
